<ul class="navbar-nav mr-auto">
	<li class="nav-item">
		<a class="nav-link" href="{{ path('mainpage') }}">Home
				</a>
	</li>
	<li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
    <div class="dropdown-menu" style="">
      <a class="dropdown-item" href="{{ path('person_browse') }}">Liste</a>
      <a class="dropdown-item" href="{{ path('person_add') }}">Ajouter</a>
   </div>
	</li>
		<li class="nav-item">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
    <div class="dropdown-menu" style="">
      <a class="dropdown-item" href="{{ path('tag_browse') }}">Liste</a>
      <a class="dropdown-item" href="{{ path('tag_add') }}">Ajouter</a>
   </div>
	</li>

</ul>


